.header {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-darkgreen);
    padding: 0 10%;
}

.logo {
    font-size: 2rem;
    color: var(--color-green);
    font-weight: bold;
    cursor: pointer;
}

.logo:hover {
    color: var(--color-orange);
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
}

.header li {
    margin-left: 3rem;
}

.header a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #def2f1;
}

.header button {
    font: inherit;
    background-color: transparent;
    border: 1px solid var(--color-lightgreen);
    color: var(--color-lightgreen);
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
}

.header a:hover,
.header a:active,
.header a.active {
    color: var(--color-orange);
}

.header button:hover {
    background-color: darkred;
    border-color: indianred;
    color: indianred;
}

.header svg {
    padding: 0 5px;
}

.badge {
    background-color: var(--color-green);
    color: white;
    border-radius: 12px;
    padding: 0 0.7rem;
    margin-left: 0.5rem;
}
