.control {
    margin: 0.5rem 0;
    text-align: start;
}

.control label {
    display: block;
    color: white;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.control input {
    font: inherit;
    background-color: #f1e1fc;
    color: var(--color-darkgreen);
    border-radius: 4px;
    border: 2px solid white;
    width: 100%;
    text-align: left;
    padding: 0.25rem;
}

.control input:focus {
    outline: none;
}

.invalid label {
    color: darkred;
}

.invalid input {
    border-color: darkred;
}

.actions {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions button {
    cursor: pointer;
    font: inherit;
    color: white;
    background-color: var(--color-darkgreen);
    border: 1px solid var(--color-darkgreen);
    border-radius: 4px;
    padding: 0.5rem 2.5rem;
}

.actions button:disabled {
    background-color: rgba(23, 36, 42, 0.5);
    border-color: rgba(23, 36, 42, 0.7);
}

.actions button:hover:disabled {
    cursor: not-allowed;
}

.actions button:hover:not(:disabled) {
    color: var(--color-orange);
    border-color: var(--color-orange);
}
