.login {
    margin: calc(50% - 5rem) auto 0;
    width: 95%;
    max-width: 25rem;
    border-radius: 6px;
    background-color: var(--color-green);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
    color: white;
    transform: translateY(-50%);
}

.login h2 {
    text-align: center;
    padding-bottom: 1rem;
    color: white;
}

.login p {
    text-align: center;
    color: white;
}

.login em {
    color: var(--color-orange);
    text-decoration-style: dashed;
}


.login span {
    color: var(--color-darkgreen);
    text-decoration: var(--color-darkgreen) underline dotted;
    cursor: pointer;
}
.login span:hover {
    color: var(--color-orange);
    text-decoration: var(--color-orange) underline dotted;
}
