.card {
    width: 100%;
    height: 100%;
    padding: 0.75rem;
    background-color: rgba(58, 175, 169, 0.5);
    border-radius: 12px;
    cursor: pointer;
}

.info {
    width: 100%;
    height: 75%;
    font-size: 1.1rem;
    overflow: auto;
    color: #17242a;
}

.rating {
    width: 100%;
    height: 25%;
}

.link {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 75%;
    cursor: pointer;
}

.link:hover {
    opacity: 100%;
    filter: drop-shadow(0 0 15px #feb83e);
}

.link span {
    color: #17242a;
    font-size: 2rem;
    font-weight: bold;
    padding: 0 0.3rem;
}

.imdb {
    width: 3.5rem;
    height: 3.5rem;
    padding: 0 0.3rem;
    color: #17242a;
}
